@tailwind base;
@tailwind components;
@tailwind utilities;

  #filters .react-calendar{
    /* Your custom styles */
    position: fixed;
  }
  .react-daterange-picker {
    /* Your custom styles */
  }
  /* Target the input field */
  .react-daterange-picker__wrapper {
    /* Your custom styles */
    flex-shrink: 1;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 2;
    line-height: 1.5rem;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 0;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
    border-radius: var(--rounded-btn, 0.5rem);
  }
  /* Target the input field */
  .react-daterange-picker__inputGroup {
    /* margin: auto; */
  }

  .react-daterange-picker__inputGroup__input{
    /* width: 20px; */

  }
  .react-daterange-picker__clear-button__icon {
    stroke:white;
    /* fill: hsl(var(--b2) / var(--tw-bg-opacity)); */
  }

  .react-daterange-picker__calendar-button__icon line,
.react-daterange-picker__calendar-button__icon rect {
  stroke: white; /* Set the stroke color to white */
  fill: black; /* Set the fill color to black */
}
  
.react-date-picker__wrapper {
    flex-shrink: 1;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 2;
    line-height: 1.5rem;
    border-width: 1px;
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 0;
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
    border-radius: var(--rounded-btn, 0.5rem);
  }

  .react-date-picker__clear-button__icon {
    stroke:white;
   
  }

  .react-date-picker__calendar-button__icon line,
.react-date-picker__calendar-button__icon rect {
  stroke: white; 
  fill: black; 
}
.react-daterange-picker__inputGroup__input:invalid{

    background: none !important;
}

.react-date-picker__inputGroup__input:invalid{

  background: none !important;
}

text.apexcharts-title-text{
  fill: white !important;
}

span.apexcharts-legend-text{
  color: hsl(var(--s) / var(--tw-text-opacity)) !important;
}

/* .apexcharts-text .apexcharts-xaxis-label tspan{
  color: hsl(var(--s) / var(--tw-text-opacity)) !important;
} */

text[id^="SvgjsText"].apexcharts-text.apexcharts-xaxis-label{
  fill: white !important;

}

text[id^="SvgjsText"].apexcharts-text.apexcharts-yaxis-label{
  fill: white !important;

}
/* .menu :where(li:not(.menu-title) > *:not(ul):not(details):not(.menu-title)), .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
  border-radius: var(--rounded-btn, 0.5rem);
  text-wrap: balance;
} */